.check__umProdutoUm {
    display: block;

    left: 172px;
    position: absolute;
    top: 330px;

    z-index: 1;
}

.check__doisProdutoUm {
    display: none;

    left: 865px;
    position: absolute;
    top: 330px;

    z-index: 1;
}

.popUp__infos--produtoUm {
    align-items: center;
    display: grid;

    grid-template-columns: repeat(2, auto);

    grid-column: span 4;
}

.popUp__infos--imagensProdutoUm {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-column: span 2;
}

.popUp__infos--imagemProdutosUm {
    align-self: center;
    
    height: 230px;
    width: 230px;

    cursor: pointer;

    margin: auto 2.5rem auto auto;
}

.popUp__infos--imagemUmProdutosUm {
    display: block;
}

.popUp__infos--descricaoUmProdutoUm {
    display: block;

    font-size: 24px;
    text-align: justify;

    width: 500px;

    margin: auto auto auto 2.5rem;
}

.popUp__infos--descricaoDoisProdutoUm {
    display: none;

    font-size: 24px;
    text-align: justify;

    width: 500px;

    margin: auto auto auto 2.5rem;
}

.popUp__botoes--produtoUm {
    background-image: url(../../../img/fundoBotaoProdutoDois.png);
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    grid-template-columns: auto auto;

    grid-column: span 4;
}

.popUp_botao--umProdutoUm {
    position: relative;
    right: 80px;
}

.popUp_botao--doisProdutoUm {
    position: relative;
    left: 80px;
}

.popUp__botoes--descricaoProdutoUm {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;

    grid-column: span 4;

    bottom: 20px;
    position: relative;

    font-size: 18px;
}

.popUp__botao--umDescricaoProdutoUm {
    color: #086735;
    position: relative;
    right: 30px;
}

.popUp__botao--doisDescricaoProdutoUm {
    color: #086735;
    position: relative;
    left: 100px;

    line-height: 1.25rem;
}

.popUp__atencao--escritaProdutoUm {
    grid-column: span 4;
    margin: auto;

    font-size: 20px;
    font-weight: bold;
    text-align: center;

    color: #086735;

    width: 800px;

    padding-bottom: 1rem;
}