.popUp__infos--produtoDez {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    grid-column: span 4;
}

.popUp__infos--imagensProdutoDez {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.popUp__infos--imagemProdutosDez {
    height: 400px;
    width: 400px;

    cursor: pointer;
}

.popUp__infos--imagemUmProdutosDez {
    display: block;
}

.popUp__infos--descricaoUmProdutoDez {
    display:none;

    font-size: 28px;
    margin-top: 2rem;
    text-align: justify;

    width: 500px;
}

.popUp__infos--descricoesProdutoDez {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.popUp__infos--imagemDoisProdutoDez {
    display: block;
}

.popUp__infos--descricaoDoisProdutoDez {
    display: none;

    font-size: 28px;
    margin-top: 2rem;
    text-align: justify;

    width: 500px;
}
