.popUp__infos--produtoQuatro {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    grid-column: span 4;
    
}

.popUp__infos--imagensProdutoQuatro {
    align-items: center;
    display: flex;
    margin: 1rem;
}

.popUp__infos--imagemProdutosQuatro {
    height: 250px;
    width: 250px;

    cursor: pointer;

    margin: 0.5rem;
}

.popUp__infos--imagemUmProdutosQuatro {
    display: block;
}

.popUp__infos--descricaoUmProdutoQuatro {
    display: block;

    font-size: 20px;
    margin-top: 2rem;
    text-align: left;

    width: 400px;

}

.popUp__infos--descricaoDoisProdutoQuatro {
    display: block;

    font-size: 20px;
    margin-top: 2rem;
    text-align: right;

    width: 400px;
}

.popUp__atencao--produtoQuatro {
    align-items: center;
    display: flex;

    grid-column: span 4;

    top: 20px;
    left: 40px;
    position: relative;
}

.popUp__atencao--escritaProdutoQuatro {
    font-size: 20px;
    font-weight: bold;
    text-align: right;

    color: #086735;
}

.popUp__atencao--imagemProdutoQuatro {
    height: 150px;
    width: 150px;

    margin-left: 1.25rem;
}