.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;

    top: 5px;
    left: 500px;
    
    z-index: -1;
}

.navegadorPaginas {
    height: 110px;
    width: 900px;

    margin: 1rem;
}

.botoes {
    align-items: center;
    display: flex;
    justify-content: space-between;

    background-image: url(../../../img/barraNavegacao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.botoes a {
    text-decoration: none;
}

.botoes__botao {
    align-items: center;
    background-color: white;
    border-radius: 100%;
    box-shadow: 1px 2px 6px #00000040;
    color: #000;
    display: flex;
    font-size: 26px;
    font-weight: bold;
    height: 80px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    width: 80px;
}

.botoes__botao--um {
    position: relative;
    right: 8px;
    background-color: #003a1e;
    color: #fff;
}

.botoes__botao--dois {
    height: 65px;
    width: 65px;
    border: solid 5px #007C41;
}

.botoes__botao--tres {
    position: relative;
    left: 8px;
    background-color: #003a1e;
    color: #fff;
}

.interaja {
    font-size: 36px;
    font-weight: bold;
}