.produtoUm {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 450px;

    z-index: 2;
}

.produtoDois {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 550px;

    z-index: 2;
}

.produtoTres {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 650px;

    z-index: 2;
}

.produtoQuatro {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 750px;

    z-index: 2;
}

.produtoCinco {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 850px;

    z-index: 2;
}

.produtoSeis {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 950px;

    z-index: 2;
}

.produtoSete {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 1050px;

    z-index: 2;
}

.produtoOito {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 1150px;

    z-index: 2;
}

.produtoNove {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 1250px;

    z-index: 2;
}

.produtoDez {
    display: grid;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 1350px;

    z-index: 2;
}