.secaoMain {
    display: block;
    transition: all 0.25s ease-in-out;
}

.dna {
    left: 670px;
    position: absolute;
    top: 250px;
    transition: all 0.25s ease-in-out;
}

.dna__interaja {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 12px;


    left: 380px;
    position: absolute;
    top: 322px;

    z-index: 1;
    transition: all 0.25s ease-in-out;
}

.dna__interaja--escrita {
    font-size: 18px;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.dna__interaja--seta {
    z-index: 0;
    transition: all 0.25s ease-in-out;
}

.dna__imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.dna__imagem--tracos {
    transform: rotate(3deg);
    z-index: 0;
    
    transition: all 0.25s ease-in-out;
}

.dna__imagem--base {
    position: relative;
    bottom: 70px;
    z-index: -1;
    transition: all 0.25s ease-in-out;
}

.dna__cadeia {
    display: flex;
    flex-direction: column;
    
    position: absolute;

    z-index: 1;
    transition: all 0.25s ease-in-out;
}

.dna__cadeias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 848px;
    position: absolute;
    top: 388px;
    
    transition: all 0.25s ease-in-out;
}

.dna__cadeias--secaoUm {
    margin-bottom: 85px;

    position: relative;

    transform: rotate(3deg);
    transition: all 0.25s ease-in-out;
}

.dna__cadeias--secaoDois {
    margin-bottom: 60px;

    left: 837px;
    position: relative;
    top: 390px;

    transform: rotate(3deg);
    transition: all 0.25s ease-in-out;
}

.dna__cadeias--secaoTres {
    margin-bottom: 88px;

    left: 862px;
    position: relative;
    top: 390px;

    transform: rotate(3deg);
    transition: all 0.25s ease-in-out;
}

.dna__cadeias--secaoQuatro {
    
    left: 855px;
    position: relative;
    top: 391px;

    transform: rotate(3deg);
    transition: all 0.25s ease-in-out;
}

.dna__cadeias--itens {
    margin: 1.1rem;
    z-index: 0;
    transition: all 0.25s ease-in-out;
}