.check__um--produtoTres {
    display: none;

    left: 172px;
    position: absolute;
    top: 410px;

    z-index: 1;
    transition: all 0.085s ease-in-out;
}

.check__dois--produtoTres {
    display: none;

    left: 865px;
    position: absolute;
    top: 410px;

    z-index: 1;
    transition: all 0.085s ease-in-out;
}

.popUp__infos--inicial {
    align-items: center;
    display: flex; /* Flex */
    justify-content: space-around;

    grid-column: span 4;

    margin: 1.75rem;
    transition: all 0.085s ease-in-out;
}

.popUp__infos--umProdutoTres {
    display: inline-block; /* inline-block */

    font-size: 28px;
    text-align: justify;

    margin-right: 2rem;
    transition: all 0.085s ease-in-out;
}

.popUp__imagem--umProdutoTres {
    display: block;
    transition: all 0.085s ease-in-out;
}

.popUp__infos--botaoUmProdutoTres {
    display: none; /* inline-block */
    transition: all 0.085s ease-in-out;
}

.popUp__infos--botaoDoisProdutoTres {
    display: none;
    transition: all 0.085s ease-in-out;
}

.popUp__botoes--produtoTres {
    background-image: url(../../../img/fundoBotaoProdutoDois.png);
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    grid-template-columns: auto auto;
    transition: all 0.085s ease-in-out;
}

.popUp_botao--umProdutoTres {
    position: relative;
    right: 80px;
    transition: all 0.085s ease-in-out;
}

.popUp_botao--doisProdutoTres {
    position: relative;
    left: 80px;
    transition: all 0.085s ease-in-out;
}