.produtoUm {
    display: none;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 250px;

    z-index: 2;
}

.produtoDois {
    display: grid;
    /* Grid */

    left: 425px;
    position: absolute;
    top: 550px;

    z-index: 2;
}