.check__um--produtoDois {
    display: block;

    left: 170px;
    position: absolute;
    top: 212px;

    z-index: 2;
    transition: all 0.085s ease-in-out;
}

.check__dois--produtoDois {
    display: none;

    left: 865px;
    position: absolute;
    top: 212px;

    z-index: 2;
    transition: all 0.085s ease-in-out;
}

.popUp__botoes--produtoDois {
    background-image: url(../../../img/fundoBotaoProdutoDois.png);
    background-position: center;
    background-repeat: no-repeat;

    grid-template-columns: repeat(2, auto);

    display: grid;
    transition: all 0.085s ease-in-out;
}

.popUp__infos--umProdutoDois {
    display: block;
    transition: all 0.085s ease-in-out;
}

.popUp__infos--doisProdutoDois {
    display: none;
    transition: all 0.085s ease-in-out;
}

.popUp_botao--umProdutoDois {
    position: relative;
    right: 80px;
    transition: all 0.085s ease-in-out;
}

.popUp_botao--doisProdutoDois {
    position: relative;
    left: 80px;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--bloco {
    align-items: center;
    display: none;
    grid-template-columns: auto auto;

    grid-column: span 4;

    margin: 1.5rem;
    transition: all 0.085s ease-in-out;

    
}

.popUp__saibaMais--blocoImagens {
    display: grid;
    grid-column: span 1;
    grid-template-rows: repeat(3, auto);

    gap: 6px;

    cursor: pointer;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--blocoImagem {
    background-image: url(../../../img/barraVerdeLateral.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    font-size: 18px;
    font-weight: bold;

    padding: 1.5rem 2rem 1.5rem 1.5rem;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--blocoInfos {
    font-size: 22px;
    text-align: justify;

    margin: 0px auto;
    width: 90%;
    transition: all 0.085s ease-in-out;
}

.blocoInfos--imagemUm {
    display: inline-block;
    transition: all 0.085s ease-in-out;
}

.blocoInfos--imagemDois {
    display: none;
    transition: all 0.085s ease-in-out;
}

.blocoInfos--imagemTres {
    display: none;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--bloco {
    align-items: center;
    display: none;
    justify-content: space-around;

    grid-column: span 4;

    margin:1.5rem ;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--imagemBloco {
    margin: 1rem;

    width: 50%;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--info {
    font-size: 22px;
    text-align: justify;

    margin: 0px 1rem;
    width: 90%;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMaisTabelaRegressiva {
    display: flex;
    align-items: center;
    justify-content: space-around;

    grid-column: span 4;

    padding-bottom: 1.75rem;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais {
    align-items: center;
    display: flex;
    justify-content: space-around;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--imagemUm {
    display: inline-block;

    cursor: pointer;
    height: 190px;
    width: 190px;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--imagemDois {
    display: none;
    
    cursor: pointer;
    height: 190px;
    width: 190px;
    transition: all 0.085s ease-in-out;
}

.popUp__saibaMais--titulo {
    color: #086735;
    font-size: 32px;
    font-weight: bold;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--imagemUm {
    display: block;

    cursor: pointer;
    height: 190px;
    width: 190px;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--imagemDois {
    display: none;

    cursor: pointer;
    height: 190px;
    width: 190px;
    transition: all 0.085s ease-in-out;
}

.popUp__tabelaRegressiva--titulo {
    color: #086735;
    font-size: 32px;
    font-weight: bold;
    transition: all 0.085s ease-in-out;
}